* text=auto
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.svg linguist-vendored
public/assets/css/* linguist-vendored
public/assets/js/* linguist-vendored

CHANGELOG.md export-ignore
