* text=auto
*.html linguist-vendored
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
*.svg linguist-vendored
public/* linguist-vendored
resources/views/* linguist-vendored
CHANGELOG.md export-ignore
