* text=auto
*.html linguist-vendored=false
*.css linguist-vendored=false
*.scss linguist-vendored=false
*.js linguist-vendored=false
*.svg linguist-vendored=false
public/* linguist-vendored=false
storage/* linguist-vendored=false
CHANGELOG.md export-ignore
